/**
 * 自定义 Vue Transition Animation
 * 
 */
.scale-left-enter-active {
  animation: scaleLeft .3s;
}
.scale-left-leave-active {
  animation: scaleLeft .3s reverse;
}

@keyframes scaleLeft {
  0% { transform: scaleX(0); transform-origin:left; }
  100% { transform: scaleX(1); transform-origin:left; }
}