/**
 * 覆盖样式
*/

/**
 * System
*/
 /* sidebar */
 .layout > .sidebar,
 .layout > .sidebar > .el-menu[role=menubar]
  {
     background: #304156 !important;
  }
  /* sidebar handler */
 .layout > .sidebar > .slide-handler {
     background: #415064 !important;
 }
  
  /**
   * ElementUI
  */
  .el-menu-item, .el-submenu__title {
      height:40px !important;
      font-size:1.1rem !important;
      line-height:40px !important;
  }
  
  .el-menu-item, .el-submenu__title > span {
      line-height:40px !important;
  }
  
  .el-submenu .el-menu-item {
      line-height:40px !important;
      min-width:220px !important;
  }
   
  .hide-sidebar i {
      font-size:20px !important;
  }
   
  .el-menu--collapse .el-submenu .el-menu {
      z-index:500 !important;
  }